BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "blink_out" SITE "97" ;
LOCATE COMP "ready_out" SITE "98" ;
IOBUF PORT "blink_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rst_in" SITE "96" ;
IOBUF PORT "rst_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ready_out" IO_TYPE=LVCMOS33 ;
