BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "rst_in" SITE "1" ;
LOCATE COMP "spi_sclk_in" SITE "10" ;
LOCATE COMP "spi_cs_in" SITE "2" ;
LOCATE COMP "spi_mosi_in" SITE "4" ;
LOCATE COMP "spi_miso_out" SITE "6" ;
LOCATE COMP "spi_ver_en_in" SITE "12" ;
LOCATE COMP "led_out[0]" SITE "97" ;
LOCATE COMP "led_out[1]" SITE "98" ;
LOCATE COMP "led_out[2]" SITE "99" ;
LOCATE COMP "led_out[3]" SITE "100" ;
LOCATE COMP "led_out[4]" SITE "104" ;
LOCATE COMP "led_out[5]" SITE "105" ;
LOCATE COMP "led_out[6]" SITE "106" ;
LOCATE COMP "led_out[7]" SITE "107" ;
IOBUF PORT "rst_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_miso_out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_sclk_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_mosi_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_cs_in" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "spi_ver_en_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led_out[7]" IO_TYPE=LVCMOS33 ;
