BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "blink_out" SITE "97" ;
LOCATE COMP "ready_out" SITE "98" ;
IOBUF PORT "blink_out" IO_TYPE=LVCMOS33 ;
LOCATE COMP "rst_in" SITE "96" ;
IOBUF PORT "rst_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ready_out" IO_TYPE=LVCMOS33 ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 4 VCCIO 3.3 V;
LOCATE COMP "pwm_out[0]" SITE "104" ;
LOCATE COMP "pwm_out[1]" SITE "105" ;
LOCATE COMP "pwm_out[2]" SITE "106" ;
LOCATE COMP "pwm_out[3]" SITE "107" ;
LOCATE COMP "spi_sclk_in" SITE "10" ;
LOCATE COMP "spi_cs_in" SITE "2" ;
LOCATE COMP "spi_mosi_in" SITE "4" ;
LOCATE COMP "spi_miso_out" SITE "6" ;
IOBUF PORT "spi_miso_out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pwm_out[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_sclk_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_mosi_in" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spi_cs_in" IO_TYPE=LVCMOS33 PULLMODE=UP ;
